<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knight Bite</title>
  <link rel="icon" href="/static/img/images/logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
<section class="home-section"> 
    <nav class="navbar navbar-expand-lg navbar-dark"  style="background: rgba(0, 0, 0, 0.12); margin:auto; padding: 0px;height: 90px; width: 100%;">
        <div class="container"  style="margin-left: 4.8%;">
            <div class="logo"></div>
            <a class="navbar-brand" href="#">KNIGHT BITE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/franchise">Franchise</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" >
        <br><br><br>
        <h1 class="home-heading2" style="text-align:justify; font-family: cursive;">KNIGHT BITE IS A <br>CLOUD KITCHEN <br> WHICH DELIVERS <br>FOOD TO THE <br>NOCTURNALS GIVING <br> EQUAL EMPHASIS ON <br> FOOD, TECHNOLOGY <br>AND LOGISTICS.</h1>
    </div>
</section><br><br>

        <div  class="container" >
            <div class="row">
                <div class="col-md-5">
                    <img  style="margin-left: 8%; z-index: -1; " src="/static/img/images/about.img1.png" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <p style="margin-left: 20%;" >Knight Bite started with the idea to serve all the <br>hungry nocturnals who find it really difficult to order <br> late night muchies. KB brought together late night <br> eaters and helped them order delicious meals at their <br>convenience via Knight Bite App and call.</p>
                </div>
            </div>
        </div><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img style="margin-left: 3%; z-index: -1; " src="/static/img/images/app-menu.webp" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 order-md-1" >
                    <p style="margin-left: 8%;" >Knight Bite is one such concept which was highly <br>successful in adapting to the emerging market. <br><br> Biters (customers), accepted and loved the KB app <br>that made the ordering process much more easier. In <br>two weeks of the release of the app, it was trending <br> on top food apps and was downloaded by more than <br>5000 users across Mangalore and Manipal.</p>
                </div>
            </div>
        </div><br><br><br>
    <div>
        <div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img  style="margin-left: 6%; z-index: -1;" src="/static/img/images/burger.about.webp" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-6"><br><br><br>
                        <p style="margin-left: 15%;">Going forward, our aim is to help and bring smiles in <br>many more faces and cover many more cities across <br>India and around the world.</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container"><br><br>
                <div class="row">
                    <div class="col-md-6 ">
                        <h1  style="margin-left: 8%;">Locations</h1><br>
                        <p  style="margin-left: 8%;"> Bengaluru  Hours:  7:00 pm - 4:00 am <br>
                            Mangalore  Hours:  7:00 pm - 4:00 am <br>
                            Mysuru     Hours:  7:00 pm - 4:00 am <br>
                            Hyderabad  Hours:  7:00 pm - 4:00 am <br>
                            Hubli      Hours:  7:00 pm - 4:00 am <br>
                            Manipal    Hours:  7:00 pm - 4:00 am</p>
                    </div>
                    <div class="col-md-6">
                        <h1 style="margin-left: 15%;">Follow us</h1><br><br>
                        <div class="links" style="margin-left: 14%; word-spacing: 2rem;">
                            <a href="https://www.instagram.com/"><img src="/static/img/images/instagram.svg" alt=""></a>
                            <a href="https://facebook.com/"><img src="/static/img/images/facebook.svg" alt=""></a>
                            <a href="https://twitter.com/"><img src="/static/img/images/twitter.svg" alt=""></a>
                            <a href="https://linkedin.com/"><img src="/static/img/images/linkedin.svg" alt=""></a>
                        <a href="https://youtube.com/"><img src="/static/img/images/youtube.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            
            </div>
            <div>
                <div >
                    <footer class="copyright ">
                        <div class="container">
                            <p style="text-align: center;">&copy;Copyright 2023. Knight Bite Foods Pvt. Ltd. All Rights Reserved</p>
                        </div>
                    </footer>
                </div>       
            </div>
        </div>
    </div>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

