
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Knight Bite</title>
  <link rel="icon" href="/static/img/images/logo.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/index.css">

</head>
<body>
<section class="home-section"> 
  <nav class="navbar navbar-expand-lg navbar-dark"  style="background: rgba(0, 0, 0, 0.12); margin: auto; padding: 0px;height: 90px; width: 100%;">
    <div class="container" style="margin-left: 4.8%;">
      <div class="logo"></div>
      <a class="navbar-brand" href="#">KNIGHT BITE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/franchise">Franchise</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- <section class="home-section"> -->
  <div class="container">
    <br><br><br><br><br>
    <h1 class="home-heading">ORDER LATE NIGHT MEALS</h1><br><br>
    <button class="btn">Order Now</button> <br><br>
    <h3 style="font-size: large;">Or</h3>
    <!-- <button type="button" class="btn1">App Store</button> -->
    <!-- <button type="button" class="btn1">Google Play</button> -->
    <a href="https://www.apple.com/app-store/" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">App Store</a>
    <a href="https://play.google.com/store/games?device=windows&pli=1" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Google PLay</a>
  </div>
</section>
  <!-- </div> -->
    <div class="features">
      <h1 class="features-header">Features</h1>
      <div class="features-grid">
          <div class="feature-container">
            <img src="/static/img/images/feature-1.home.svg">
            <div class="feature-description">Late Night Delivery<br>Till 4 am</div>
          </div>
          <div class="feature-container">
            <img src="/static/img/images/feature-2.home.svg">
            <div class="feature-description">Order on App Or <br>Call 080-4710607</div>
          </div>
          <div class="feature-container">
            <img src="/static/img/images/feature-3.home.svg">
            <div class="feature-description">Delivery within 40 <br> mins</div>
          </div>
          <div class="feature-container">
            <img src="/static/img/images/feature-4.home.svg">
            <div class="feature-description">Food for every kind <br>of hunger</div>
          </div>
          <div class="feature-container">
            <img src="/static/img/images/feature-5.home.svg">
          <div class="feature-description">Place Bulk orders <br> through App</div>
          </div>
      </div>
    </div>
<div>
    <h2>ENJOY FOOD, ENJOY LIFE</h2>
    <h2 class="head">BURGER, FRIES, SHAKES AND MANY MORE</h2>
</div>
    <div><br><br>
      <h1>Connect With Us</h1>
      <div class="container">
          <div class="row">
              <div class="col"><br><br>
                <h3>Contact us</h3>
                <a  href="">info@knight-bite.com</a><br>
                <a href="">+91 8047106107</a>
                <p>Available from 7pm to 4am</p>
                
              </div>
              <div class="col"><br><br>
                  <h3>Quick Links</h3>
                  <ul>
                  <a href="">
                    <li>Delivery Policies</li>
                    <li>Privacy Policies</li>
                    <li>Careers (Coming soon)</li>
                    <li>Franchise</li>
                  </a>
                </ul>
                  
              </div>
              <div class="col"><br><br>
                <p>Enter your email address below to be the first to know everything about us, where we’ll be next, and how you can come along! <br>
                  Join us on our adventure.</p>               
              
                  <p><form action="" method="post">
                    <label for="email"></label>
                    <input type="email" id="email" name="email" >
                  
                    <input type="submit" value="Submit">
                  </form></p>
              </div>

          </div>
      </div>
</div>
  <div>
    <div class="container">
        <div class="row" style="margin-top: 3%;">
            <div class="col">
                <h3>Head Office</h3>
                <p>1st Floor, No 20-1-7/10,<br> Regal Square Azizuddin <br> Road, Bunder Mangalore,<br> Bunder, Mangaluru,<br> Dakshina Kannada,<br> Karnataka, 575001.</p>

              
            </div>
            <div class="col">
                <h3>Locations</h3>
                <p>Bengaluru, Mangalore,<br> Mysuru, Hyderabad,<br> Hubli, Manipal, Udupi</p>
            </div>
            <div class="col">
              <h3 >Follow us</h3><br><br>
              <div class="links" style="word-spacing: 1rem;">
                  <a href="https://www.instagram.com/"><img src="/static/img/images/instagram.svg" alt=""></a>
                  <a href="https://facebook.com/"><img src="/static/img/images/facebook.svg" alt=""></a>
                  <a href="https://twitter.com/"><img src="/static/img/images/twitter.svg" alt=""></a>
                  <a href="https://linkedin.com/"><img src="/static/img/images/linkedin.svg" alt=""></a>
                 <a href="https://youtube.com/"><img src="/static/img/images/youtube.svg" alt=""></a>
              </div>
          </div>
        </div>
    </div>
  </div>
<div style="text-align: center; word-spacing: 2rem; margin-top: 3%; margin-bottom: 5%;">
  <img src="/static/img/images/brand_logo-1_footer.svg" alt="">
  <img src="/static/img/images/brand_logo-2_footer.svg" alt="">
</div>


  <footer class="copyright">
    <div class="container">
        <p>&copy;Copyright 2023. Knight Bite Foods Pvt. Ltd. All Rights Reserved</p>
    </div>
  </footer>



<!-- Your website content goes here -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

